<!DOCTYPE html>

<title>Edit Terrain</title>

{% block body %}
    <h1>Edit Terrain</h1>

    {{ include('Back/Terrains/terrain/_form.html.twig', {'button_label': 'Modifier'}) }}

    

     
{% endblock %}
