<!DOCTYPE html>

<title>Edit Terrain</title>

{% block body %}
    <h1>Edit Terrain</h1>

    {{ include('Back/Terrains/terrain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_terrain_index') }}">back to list</a>

    {{ include('Back/Terrains/terrain/_delete_form.html.twig') }}
{% endblock %}
