<!DOCTYPE html>

<title>New Terrain</title>

{% block body %}
     

    {{ include('Back/Terrains/terrain/_form.html.twig') }}

    <a href="{{ path('app_user_terrain') }}" class="btn btn-secondary">Retourner aux terrains</a>
{% endblock %}
