{# templates/_form.html.twig #}

{# Start the form with custom attributes, if needed #}
{{ form_start(form, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate'}}) }}

<div class="col-12">
    {{ form_label(form.verificationcode, 'verificationcode', {'label_attr': {'class': 'form-label'}}) }}
    <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        {{ form_widget(form.verificationcode, {'attr': {'class': 'form-control' , 'maxlength' : '6'}}) }}
                  <div class="invalid-feedback">Please enter you verificationcode.</div>

    </div>
</div>


{# End the form #}
{{ form_end(form) }}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('.needs-validation');
        form.addEventListener('submit', function(event) {
            // Remove existing error messages
            form.querySelectorAll('.invalid-feedback').forEach(function(error) {
                error.remove();
            });

            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');

        
        });
    });
</script>
