

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


body{
    
    background-color: #f5f5f5;
}
.quarter-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    background-color: #ffffff; /* Adjust the background color */
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    z-index: 1;
  
}
.container {
    padding: 20px;
}


.menu-icon[type="checkbox"]:checked,
.menu-icon[type="checkbox"]:not(:checked){
position: absolute;
left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
position: fixed;
top: 63px;
right: 75px;
display: block;
width: 30px;
height: 30px;
padding: 0;
margin: 0;
cursor: pointer;
z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
position: absolute;
content: '';
display: block;
width: 30px;
height: 20px;
z-index: 20;
top: 0;
left: 0;
border-top: 2px solid #ececee;
border-bottom: 2px solid #ececee;
transition: border-width 100ms 1500ms ease, 
          top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
          height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
          background-color 200ms ease,
          transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
position: absolute;
content: '';
display: block;
width: 22px;
height: 2px;
z-index: 20;
top: 10px;
right: 4px;
background-color: #ececee;
margin-top: -1px;
transition: width 100ms 1750ms ease, 
          right 100ms 1750ms ease,
          margin-top 100ms ease, 
          transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
top: 10px;
transform: rotate(45deg);
height: 2px;
background-color: #ececee;
border-width: 0;
transition: border-width 100ms 340ms ease, 
          top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
          height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
          background-color 200ms 500ms ease,
          transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
width: 30px;
margin-top: 0;
right: 0;
transform: rotate(-45deg);
transition: width 100ms ease,
          right 100ms ease,  
          margin-top 100ms 500ms ease, 
          transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.navbox {
position: fixed;
top: 33px;
right: 50px;
width: 80px;
height: 80px;
padding: 0;
margin: 0;
z-index: 9;
overflow: hidden;
box-shadow: 0 8px 30px 0 #033E6A;
background-color: #4CAF30;
border-radius: 50%;
transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
          right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 250ms 1100ms ease,
          width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
          height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:not(:checked) {
animation: rotateBall 7s linear infinite;
}

@keyframes rotateBall {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
.menu-icon:checked ~ .navbox {
animation-play-state: paused;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
width: 200%;
height: 200%;
transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
          right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 250ms 700ms ease,
          width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
          height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbox ul{
position: absolute;
top: 50%;
left: 0;
display: block;
width: 100%;
padding: 0;
margin: 0;
z-index: 6;
text-align: center;
transform: translateY(-50%);
list-style: none;
}
.navbox ul li{
position: relative;
display: block;
width: 100%;
padding: 0;
margin: 10px 0;
text-align: center;
list-style: none;
pointer-events: none;
opacity: 0;
visibility: hidden;
transform: translateY(30px);
transition: all 250ms linear;
}



.navbox ul li a{
font-family: 'Montserrat', sans-serif;
font-size: 9vh;
text-transform: uppercase;
line-height: 1.2;
font-weight: 800;
display: inline-block;
position: relative;
color: #ececee;
transition: all 250ms linear;
}
.navbox ul li a:hover{
text-decoration: none;
color: #033E6A;
}
.navbox ul li a:after{
display: block;
position: absolute;
top: 50%;
content: '';
height: 2vh;
margin-top: -1vh;
width: 0;
left: 0;
background-color: #353746;
opacity: 0.8;
transition: width 250ms linear;
}
.navbox ul li a:hover:after{
width: 100%;
}


.menu-icon:checked ~ .navbox  ul li {
pointer-events: auto;
visibility: visible;
opacity: 1;
transform: translateY(0);
transition: opacity 350ms ease,
          transform 250ms ease;
}
.menu-icon:checked ~ .navbox ul li:nth-child(1){
transition-delay: 1400ms;
}
.menu-icon:checked ~ .navbox ul li:nth-child(2){
transition-delay: 1480ms;
}
.menu-icon:checked ~ .navbox ul li:nth-child(3){
transition-delay: 1560ms;
}
.menu-icon:checked ~ .navbox ul li:nth-child(4){
transition-delay: 1640ms;
}
.menu-icon:checked ~ .navbox ul li:nth-child(5){
transition-delay: 1720ms;
}
.menu-icon:checked ~ .navbox ul li:nth-child(6){
transition-delay: 1800ms;
}
.menu-icon:checked ~ .navbox ul li:nth-child(7){
transition-delay: 1880ms;
}






@media screen and (max-width: 991px) {
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
right: 55px;
}

.navbox{
right: 30px;
}

.navbox ul li a{
font-size: 8vh;
}
}

.logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/******************************************************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
  }
  
 
  
  
  
 
  
  .description {
    white-space: wrap;
  }
  
  
  
  .wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
  }
  
  .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  .title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
  .user-follow-info {
    color: hsl(0, 0%, 60%);
  }
  
  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
  }
  
  .button:hover {
    background: var(--purple);
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 460px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 640px) {
    .box {
      flex-basis: calc(50% - 12px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 840px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1024px) {
    .box {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1100px) {
    .box {
      flex-basis: calc(25% - 18px);
    }
  }
  



