<!DOCTYPE html>

<title>Edit Blacklist</title>

{% block body %}
<h1>Edit Blacklist</h1>

{{ include('Back/GestionReservation/blacklist/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('app_blacklist_index') }}">back to list</a>

{{ include('Back/GestionReservation/blacklist/_delete_form.html.twig') }}
{% endblock %}