<!DOCTYPE html>

<title>New Blacklist</title>

{% block body %}
<h1>Create new Blacklist</h1>

{{ include('Back/GestionReservation/blacklist/_form.html.twig') }}

<a href="{{ path('app_blacklist_index') }}">back to list</a>
{% endblock %}