{% extends 'BaseBack.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
  <main>
    <div class="container">
      <!-- ======= 
      i want to create  div with flash message
      ======= -->

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
    

{#         
     

       <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Oh snap!</strong> Change a few things up and try submitting again.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
 #}

          
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex justify-content-center py-4">
                <img alt="">
                <span  class="card-title text-center pb-0 fs-4">PlayMate</span>
              </div><!-- End Logo -->

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your Email &amp; password to login</p>
                  </div>

                  {{ include('Back/GestionUser/FormTemplates/_formlogin.html.twig') }}

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->
{% endblock %}
