<!DOCTYPE html>

<title>New Membreparequipe</title>

{% block body %}
    <h1>Create new Membreparequipe</h1>

    {{ include('Back/Gestionequipe/MembreParEquipe/_form.html.twig') }}

    <a href="{{ path('app_membreparequipe_index') }}">back to list</a>
{% endblock %}
