<!DOCTYPE html>

<title>Edit Participation</title>

{% block body %}
    <h1>Edit Participation</h1>

    {{ include('Back/GestionEvenement/participation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participation_index') }}">back to list</a>

    {{ include('Back/GestionEvenement/participation/_delete_form.html.twig') }}
{% endblock %}
